<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- Статические файлы -->
        <staticContent>
            <!-- JavaScript MIME тип -->
            
            <!-- Для поддержки кеширования статики (опционально) -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>

        <!-- Сжатие -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- Разрешаем использование модулей ES6 -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
		<add name="X-Frame-Option" value="ALLOWALL" />
	        <add name="Access-Control-Allow-Origin" value="*" />
	        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
	        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" />
            </customHeaders>
        </httpProtocol>

        <!-- Обработка ошибок 404 -->
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
